<section class="word">
  <div class="parte1">
    <img src="assets/img/sobre1.jpg" alt="">
  </div>
  <div class="parte2">
    <h1>Sobre nós</h1>
    <br>
    <p>
      Bem-vindo ao Frame News, o seu destino definitivo para a mais recente e perspicaz análise acadêmica e notícias educacionais. Nossa missão é construir uma plataforma que funcione como um "quadro" para moldar e aprimorar o conhecimento, oferecendo aos nossos leitores uma visão clara e informativa do mundo acadêmico e escolar. 
    </p>
    <button class="primary" mat-button (click)="abrirModal()">Ver mais</button>
  </div>


</section>
<section class="programas">
  <h1 class="title">Programas Acadêmicos</h1>
  <div class="cursos">
    <div class="linha1">
      <article>
        <div class="icon"><img src="assets/img/contabilidade.jpg" alt=""></div>
        <p>Contabilidade</p>
      </article>
      <article>
        <div class="icon"><img src="assets/img/vendas.jpg" alt=""></div>
        <p>Vendas</p>
      </article>
      <article>
        <div class="icon"><img src="assets/img/TI.jpg" alt=""></div>
        <p>Computador Tecnologia</p>
      </article>
      <article>
        <div class="icon"><img src="assets/img/TI1.jpg" alt=""></div>
        <p>T.I</p>
      </article>
    </div>
    <div class="linha2">
      <article>
        <div class="icon"><img src="assets/img/medica.jpg" alt=""></div>
        <p>Ciência Médica</p>
      </article>
      <article>
        <div class="icon"><img src="assets/img/ADM.jpg" alt=""></div>
        <p>Administração</p>
      </article>
      <article>
        <div class="icon"><img src="assets/img/adv.jpg" alt=""></div>
        <p>Advocacia</p>
      </article>
      <article>
        <div class="icon"><img src="assets/img/barbearia.jpg" alt=""></div>
        <p>Barbearia</p>
      </article>
    </div>
  </div>
</section>
<section class="historia">
  <h1 class="title">Nossa história</h1>
  <div class="card-group">
    <div class="cards">
      <p class="data">
        2016-2023
      </p>
      <h4>Comemoramos 28 anos com nossos primeiros formandos
      </h4>
      <p>Nosso aniversário de 28 anos foi marcado pela reforma do campus,
        onde neste ano aconteceu um encontro com nossos formandos.</p>
    </div>
    <div class="cards">
      <p class="data">
        2016-2023
      </p>
      <h4>Comemoramos 28 anos com nossos primeiros formandos
      </h4>
      <p>Nosso aniversário de 28 anos foi marcado pela reforma do campus,
        onde neste ano aconteceu um encontro com nossos formandos.</p>
    </div>
    <div class="cards">
      <p class="data">
        2016-2023
      </p>
      <h4>Comemoramos 28 anos com nossos primeiros formandos
      </h4>
      <p>Nosso aniversário de 28 anos foi marcado pela reforma do campus,
        onde neste ano aconteceu um encontro com nossos formandos.</p>
    </div>
    <div class="cards">
      <p class="data">
        2016-2023
      </p>
      <h4>Comemoramos 28 anos com nossos primeiros formandos
      </h4>
      <p>Nosso aniversário de 28 anos foi marcado pela reforma do campus,
        onde neste ano aconteceu um encontro com nossos formandos.</p>
    </div>
  </div>
</section>
<section class="dp">
  <h1 class="title">Depoimentos</h1>
  <div class="grupo">
    <div class="alunos">
      <div class="perfil">
        <img src="assets/img/mulher.jpg" alt="">
        <div class="sobre">
          <h1>Alessandra Gomes</h1>
          <p class="nome">Estudante</p>
        </div>
      </div>
      <div class="info">
        <p class="txt">
          Posso dizer com certeza que o Bradston College me tornou uma pessoa melhor. Isso me ajudou a
          desenvolver uma atitude positiva em relação aos meus estudos e a descobrir mais sobre mim
        </p>
      </div>
    </div>
    <div class="alunos">
      <div class="perfil">
        <img src="assets/img/homem.jpg" alt="">
        <div class="sobre">
          <h1>Patrick Mills</h1>
          <p class="nome">Estudante</p>
        </div>
      </div>
      <div class="info">
        <p class="txt">
          Posso dizer com certeza que o Bradston College me tornou uma pessoa melhor. Isso me ajudou a
          desenvolver uma atitude positiva em relação aos meus estudos e a descobrir mais sobre mim
        </p>
      </div>
    </div>
    <div class="alunos">
      <div class="perfil">
        <img src="assets/img/mulher1.jpg" alt="">
        <div class="sobre">
          <h1>Amanda Souza</h1>
          <p class="nome">Estudante</p>
        </div>
      </div>
      <div class="info">
        <p class="txt">
          Posso dizer com certeza que o Bradston College me tornou uma pessoa melhor. Isso me ajudou a
          desenvolver uma atitude positiva em relação aos meus estudos e a descobrir mais sobre mim
        </p>
      </div>
    </div>
  </div>
  <button class="primary"> Ver todos os depoimentos</button>
</section>
