<!-- 
<div class="janela">
  <div class="login-container">
    <div class="card">
      <img class="logo" src="\assets\logo\6.png" alt="">
      <div class="card-content text">
        <div class="item">
          <input class="input" type="email" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="item">
          <input class="input" type="password" [(ngModel)]="senha" placeholder="Senha">
        </div>
      </div>
    <button class="button" (click)="login()">Entrar</button>
    <p>Não possui uma conta?<a [routerLink]="['/cadastro']"> Cadastre-se</a></p>
    <p *ngIf="mensagem">{{mensagem}}</p>
    </div>
 -->
<div class="janela center">
  
    
 
  <form>
    <img class="logo"src="assets/logo/login.png">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="Insira seu email" [(ngModel)]="email">
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" placeholder="Insira sua senha" [(ngModel)]="senha">
      <a routerlink="/">Esqueci minha senha</a>
      <button class="primary" (click)="login()">logar</button>
      <p *ngIf="mensagem">{{ mensagem }}</p>
      <a routerLink="/cadastro">Ainda não tem uma conta?</a>
    </form>
  </div>
  

<img src="/assets/img/Backgorundlogin.jpg" class="back" alt="">