<nav class="primary">
    <div class="logo">
      <img src="assets/blog.png">
     <h1>Blog</h1>
    </div>
    <div class="links">
      <a routerLink="/">Home</a>
      <a routerLink="/noticias">Notícias</a>
      <a routerLink="/enviar">Enviar Post</a>
      <a routerLink="/sobre">Sobre</a>
      <a routerLink="/chat">Chat</a>
    </div>
    <ul class="no-bullet">
      <li *ngIf="!isLoggedIn"><a (click)="toggleLogin()" routerLink="/login">Login</a></li>
      <li *ngIf="isLoggedIn"><a (click)="toggleLogin()" routerLink="/login">Sair</a></li>
    </ul>
  </nav>
  