nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.logo  {
  padding: 10px;
  box-sizing: border-box;
  width: auto; /* Garante que a imagem não exceda a largura da div */
  height: 100%; /* Mantém a proporção da imagem */
  align-items: center;
  justify-content: center;
  /* Outros estilos para o logo, se necessário */
}

.logo img{
  height: 2vw;
  margin-top: 10px;
  max-height: 100%
}

.links {
  width: 45%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  padding: 0px 20px;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

a:hover {
  background-color: var(--primary-hover-light);
}

.no-bullet {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

li{
  height: 100%;
}
