<nav class="primary">
    <div class="logo">
      <img src="assets/logo/6.png">
    </div>
    <div class="links">
      <a routerLink="/">Home</a>
      <a routerLink="/faq">FAQ</a>
      <!-- <a routerLink="/enviar">Enviar Post</a> -->
      <a routerLink="/sobre">Sobre</a>
      <!-- <a routerLink="/perfil">Perfil</a> -->
    </div>
    <!-- <ul class="no-bullet center">
      <li class="center" *ngIf="!isLoggedIn"><a (click)="toggleLogin()" routerLink="/login">Login</a></li>
      <li class="center" *ngIf="isLoggedIn"><a (click)="toggleLogin()" routerLink="/login">Sair</a></li>
    </ul> -->
  </nav>
