#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .message-box {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  
  /* Estilo para a caixa de mensagem do usuário atual */
  .user-message {
    background-color: #3498db; /* Azul */
    color: white;
  }
  
  /* Estilo para a caixa de mensagem de outro remetente (SenderName1) */
  .other-user-message-1 {
    background-color: #e74c3c; /* Vermelho */
    color: white;
  }
  
  /* Estilo para a caixa de mensagem de outro remetente (SenderName2) */
  .other-user-message-2 {
    background-color: #27ae60; /* Verde */
    color: white;
  }
  