<div class="janela">
    <div class="container">
        <section class="not">
            <div class="nt">
                <div class="imagem">
                    <img src="assets/img/grid-gallery-2-370x260.jpg" alt="noticia">
                </div>
                <div class="info">
                    <h1 class="title">Título</h1>
                    <p>informações informações informações informações informações informações informações informações
                    </p>
                </div>
            </div>
            <div class="nt">
                <div class="imagem">
                    <img src="assets/img/grid-gallery-2-370x260.jpg" alt="noticia">
                </div>
                <div class="info">
                    <h1 class="title">Título</h1>
                    <p>informações informações informações informações informações informações informações informações
                    </p>
                </div>
            </div>
            <div class="nt">
                <div class="imagem">
                    <img src="assets/img/grid-gallery-2-370x260.jpg" alt="noticia">
                </div>
                <div class="info">
                    <h1 class="title">Título</h1>
                    <p>informações informações informações informações informações informações informações informações
                    </p>
                </div>
            </div>
        </section>
        <div class="search">
            <h2>Procurando por algo específico?</h2>
            <input type="search" placeholder="pesquisar..."><button class="primary">pesquisar</button>
        </div>
    </div>
</div>