<div class="janela">
  <div class="content">
    <div class="list">
      <div class="container" *ngFor="let group of faqMovel">
        <div class="item-d">
          <p class="lb" style="font-size: 20px; margin-top: 25px;">{{ group.title }}</p>
        </div>
        <div class="container" *ngFor="let item of group.items">
          <div class="item" (click)="toggleAnswer(item)">
            <!--  <button class="icon"><i class='bx bx-chevron-down'></i></button> -->
            <p class="lb">{{ item.question }}</p>
            <i *ngIf="item.expanded" class="bx bx-chevron-up"></i>
            <i *ngIf="!item.expanded" class="bx bx-chevron-down"></i>
          </div>

          <div class="resposta" *ngIf="item.expanded">
            <strong>
              <p>{{ item.answer }}</p>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="list">
      <div class="container" *ngFor="let group of faqFundamentos">
        <div class="item-d">
          <p class="lb" style="font-size: 20px; margin-top: 25px;">{{ group.title }}</p>
        </div>
        <div class="container" *ngFor="let item of group.items">
          <div class="item" (click)="toggleAnswer(item)">
            <!--  <button class="icon"><i class='bx bx-chevron-down'></i></button> -->
            <p class="lb">{{ item.question }}</p>
            <i *ngIf="item.expanded" class="bx bx-chevron-up"></i>
            <i *ngIf="!item.expanded" class="bx bx-chevron-down"></i>
          </div>

          <div class="resposta" *ngIf="item.expanded">
            <strong>
              <p>{{ item.answer }}</p>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="list">
      <div class="container" *ngFor="let group of faqPrivacidade">
        <div class="item-d">
          <p class="lb" style="font-size: 20px; margin-top: 25px;">{{ group.title }}</p>
        </div>
        <div class="container" *ngFor="let item of group.items">
          <div class="item" (click)="toggleAnswer(item)">
            <!--  <button class="icon"><i class='bx bx-chevron-down'></i></button> -->
            <p class="lb">{{ item.question }}</p>
            <i *ngIf="item.expanded" class="bx bx-chevron-up"></i>
            <i *ngIf="!item.expanded" class="bx bx-chevron-down"></i>
          </div>

          <div class="resposta" *ngIf="item.expanded">
            <strong>
              <p>{{ item.answer }}</p>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="list">
      <div class="container" *ngFor="let group of faqConta">
        <div class="item-d">
          <p class="lb" style="font-size: 20px; margin-top: 25px;">{{ group.title }}</p>
        </div>
        <div class="container" *ngFor="let item of group.items">
          <div class="item" (click)="toggleAnswer(item)">
            <!--  <button class="icon"><i class='bx bx-chevron-down'></i></button> -->
            <p class="lb">{{ item.question }}</p>
            <i *ngIf="item.expanded" class="bx bx-chevron-up"></i>
            <i *ngIf="!item.expanded" class="bx bx-chevron-down"></i>
          </div>

          <div class="resposta" *ngIf="item.expanded">
            <strong>
              <p>{{ item.answer }}</p>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>