<div class="gradient-background">
  <div class="content">
    <div class="text-box">
      <h2>Bem vindo a FRAME <span>NEWS</span></h2>
      <p>Seja a primeira página do seu dia! Informação fresca,
        análises perspicazes e histórias que importam.
        Nosso blog de notícias mantém você à frente dos acontecimentos.
        Leia, absorva, conecte-se.</p>
    </div>
    <div class="img-box">
      <img src="assets/logo/6.png" alt="">
    </div>
  </div>
</div>
<section class="futuros-cursos">
  <h1 class="title">Nossos cursos em destaque</h1>
  <div class="card-group">
    <div class="card">
      <a href="#" class="card-img">
        <img src="assets/img/imagemB.jpg" alt="imagem">
      </a>
      <p><strong>Professor: nomeDoProfessor</strong></p>
    </div>
    <div class="card">
      <a href="#" class="card-img">
        <img src="assets/img/imagemB2.jpg" alt="imagem">
      </a>
      <p><strong>Professor: nomeDoProfessor</strong></p>
    </div>
    <div class="card">
      <a href="#" class="card-img">
        <img src="assets/img/imagemB3.jpg" alt="imagem">
      </a>
      <p><strong>Professor: nomeDoProfessor</strong></p>
    </div>
    <div class="card">
      <a href="#" class="card-img">
        <img src="assets/img/imagemB4.jpg" alt="imagem">
      </a>
      <p><strong>Professor: nomeDoProfessor</strong></p>
    </div>
    <div class="card">
      <a href="#" class="card-img">
        <img src="assets/img/imagemB5.jpg" alt="imagem">
      </a>
      <p><strong>Professor: nomeDoProfessor</strong></p>
    </div>
    <div class="card">
      <a href="#" class="card-img">
        <img src="assets/img/imagemB6.jpg" alt="imagem">
      </a>
      <p><strong>Professor: nomeDoProfessor</strong></p>
    </div>
  </div>
  <button class="primary red">Ver todos</button>
</section>
<section class="last-post">
  <h1 class="title">Ultimas postagens</h1>
  <div class="card-group-post">
    <div class="card-post">
      <img src="assets/img/imagemB9.webp" alt="">
      <span class="primary">Novo</span>
    </div>
    <div class="card-post">
      <img src="assets/img/imagemB10.webp" alt="">
      <span class="primary">Novo</span>
    </div>
    <div class="card-post">
      <img src="assets/img/imagemB11.webp" alt="">
      <span class="primary">Novo</span>
    </div>
    <div class="card-post">
      <img src="assets/img/imagemB12.jpeg" alt="">
      <span class="primary">Novo</span>
    </div>
  </div>
  <button class="primary red">Ver todos os posts</button>
</section>