<button (click)="fecharModal()" class="close-button"><mat-icon>close</mat-icon></button>

<div class="container col-sm-7">
    
<p>No Frame News, acreditamos que o conhecimento é uma estrutura em constante evolução, e cada peça de informação contribui para a construção de um quadro maior. 
    Compreendemos a importância de manter nossos leitores atualizados sobre as tendências, pesquisas e eventos que moldam a educação e o ensino superior. 
    Aqui, você encontrará análises profundas, artigos informativos e notícias relevantes, tudo projetado para fornecer uma visão clara do panorama educacional.

    Nossos valores fundamentais incluem:</p>
   <ul>

    <li>Excelência: Comprometemo-nos a fornecer o melhor conteúdo possível, baseado em pesquisas sólidas e análises cuidadosas.</li>
   <li> Diversidade: Reconhecemos a importância da diversidade de perspectivas no campo educacional e estamos empenhados em apresentar uma variedade de vozes e opiniões.</li>
   <li> Inovação: Abraçamos a evolução constante da educação e estamos atentos às inovações que podem melhorar a aprendizagem. </li>
   <li> Colaboração: Acreditamos na colaboração entre educadores, pesquisadores e leitores para promover o conhecimento compartilhado.
   <li> Acesso: Queremos garantir que o conhecimento esteja disponível para todos, independentemente de sua localização ou recursos. </li>

</ul>
    <p>O Frame News é mais do que apenas um blog acadêmico; é uma comunidade de aprendizado em constante expansão. Explore, aprenda e faça parte da nossa comunidade de pensadores críticos e amantes do conhecimento no Frame News.</p>    
</div>
