@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/garet');



:root{
  --primary:#a71b8b;
  --primary-hover-light:#c022a0;
  --primary-hover-dark:#8B1874;
  --success: #2dd36f;
  --success-hover-light: #42d77d;
  --success-hover-dark: #28ba62;
  --alert:#F79540;
  --alert-hover-light:#fca355;
  --alert-hover-dark:#cc7d38;
}

* {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

.primary {
    color: aliceblue;
    background-color: var(--primary);
}

button.primary{
    border: none;
    transition: background-color 0.1s ease-in-out;
    border-radius: 10px;
}

button.primary:hover {
    background-color: var(--primary-hover-light);
}

.janela {
    position: relative;
    width: 100%;
    min-height: calc(100% - 355px);
}

.container {
    width: 100%;
    margin: 0%;
    padding: 20px;
    box-sizing: border-box;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
