<div class="janela center">
  <div class="container">
    <div class="formulario ">
      <img class="post"src="assets/img/post.png">
      <form>

        <input type="file" (change)="previewImage($event)" style="display: none;margin-left: 20%;" #fileInput>
        <input type="text" name="titulo" placeholder="De um título a sua publicação">
        <textarea name="pub" rows="5" placeholder="publicação..."></textarea>
        <!-- <button type="button" (click)="fileInput.click()" class="primary center"><i class='bx bxs-image'></i>Selecionar
          Imagem</button> -->
        <button class="primary">Publicar</button>
      </form>
    </div>
  </div>
</div>
<div class="imagem">
  <img [src]="imageUrl" alt="Publicação" *ngIf="imageUrl">
</div>
<img class="back" src="/assets/img/Backgorundlogin.jpg">